# vim: ft=hocon

# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  "," {actionId: Switcher, description: "Open buffer"}
  "." {actionId: GotoFile, description: "Find all"}
  "/" {actionId: FindInPath, description: "Grep"}
  "?" {actionId: GotoAction, description: "Searh actions"}
  a {
    description: "+Actions"
    bindings {
      a {actionId: ShowIntentionActions, description: "Code action"}
      r {actionId: RenameElement, description: "Rename"}
      m {actionId: RefactoringMenu, description: "Menu"}
      g {actionId: Generate, description: "Generate"}
      o {actionId: OptimizeImports, description: "Optimize imports"}
      d {actionId: ActivateProblemsViewToolWindow, description: "Open diagnostics"}
      t {actionId: ExpressionTypeInfo, description: "Show expression type"}
      s {actionId: TypeHierarchy, description: "Inspect sub-/supertypes"}
      c {actionId: CallHierarchy, description: "Navigate incoming/outgoing calls"}
      i {actionId: InspectCode, description: "Inspect code"}
      y {actionId: CopyReference, description: "Yank reference"}
    }
  }
  c {
    description: "+Cascade"
    bindings {
      c {actionId: ActivateCascadeToolWindow, description: "Activate chat"}
      a {actionId: com.codeium.intellij.AcceptDiffAction, description: "Accept change"}
      r {actionId: com.codeium.intellij.RejectDiffAction, description: "Reject change"}
      s {actionId: com.codeium.intellij.chat_window.send_to_cascade.SendToCascade, description: "Send to selection to chat"}
      x {actionId: com.codeium.intellij.command.CommandAction, description: "Execute command"}
    }
  }
  d {
    description: "+Debug"
    bindings {
      l {actionId: ChooseDebugConfiguration, description: "Launch debug target"}
      d {actionId: Debug, description: "Launch current debug target"}
      b {actionId: ToggleLineBreakpoint, description: "Toggle breakpoint"}
      B {actionId: ToggleBreakpointEnabled, description: "Toggle breakpoint enabled"}
      F {actionId: ToggleFieldBreakpoint, description: "Add field breakpoint"}
      M {actionId: ToggleMethodBreakpoint, description: "Add method breakpoint"}
      C {actionId: AddConditionalBreakpoint, description: "Toggle conditional breakpoint"}
      E {actionId: EditBreakpoint, description: "Edit breakpoint"}
      c {actionId: Resume, description: "Continue program execution"}
      p {actionId: Pause, description: "Pause program execution"}
      i {actionId: StepInto, description: "Step in"}
      o {actionId: StepOut, description: "Step out"}
      n {actionId: StepOver, description: "Step to next"}
      C {actionId: RunToCursor, description: "Run to cursor"}
      s {actionId: Stop, description: "Stop debug session"}
      f {actionId: ViewBreakpoints, description: "Find breakpoints"}
    }
  }
  e {actionId: SelectInProjectView, description: "Explore current directory"}
  E {actionId: ActivateProjectToolWindow, description: "Toggle explorer"}
  f {
    description: "+File"
    bindings {
      a {actionId: GotoTest, description: "Go to alternate file"}
      r {actionId: RecentChangedFiles, description: "Open recent"}
      n {actionId: NewElement, description: "New file"}
      y {actionId: CopyReferencePopup, description: "Yank menu"}
      r {actionId: RenameFile, description: "Rename file"}
    }
  }
  g {
    description: "+Git"
    bindings {
      g {actionId: CheckinProject, description: "Open tool window"}
      G {actionId: Git.Menu, description: "Actions menu"}
      p {actionId: Vcs.UpdateProject, description: "Pull"}
      P {actionId: Vcs.Push, description: "Push"}
      b {actionId: Git.Branches, description: "Switch branches"}
      s {actionId: Vcs.Show.Shelf, description: "Shelf"}
      l {actionId: Vcs.Show.Log, description: "Search commit log"}
      f {actionId: Vcs.ShowTabbedFileHistory, description: "Search file commit log"}
      v {actionId: Vcs.ShowHistoryForBlock, description: "Search selection changes"}
      a {actionId: Annotate, description: "Annotate w/ blame"}
    }
  }
  j {actionId: RecentLocations, description: "Search jumplist"}
  k {actionId: QuickImplementations, description: "Peek definition"}
  m {actionId: ShowBookmarks, description: "Select a bookmark"}
  M {actionId: Bookmarks, description: "Open bookmark menu"}
  o {
    description: "+Options"
    bindings {
      r {actionId: ReloadAtamanConfigAction, description: "Reload ~/.atamanrc.config"}
      p {actionId: WelcomeScreen.Plugins, description: "Open plugins tool"}
      R {actionId: RestartIde, description: "Restart"}
      I {actionId: InvalidateCaches, description: "Invalidate caches and restart"}
      Q {actionId: Exit, description: "Quit"}
    }
  }
  p {
    description: "+Project"
    bindings {
      n {actionId: NewProject, description: "New tool window"}
      g {actionId: Git.Clone, description: "New from git"}
      f {actionId: WelcomeScreen.OpenProject, description: "New from fs"}
      i {actionId: ImportProject, description: "Import existing from fs"}
      r {actionId: ManageRecentProjects, description: "Recent project"}
      c {actionId: CloseProject, description: "Close"}
    }
  }
  q {actionId: ActivateFindToolWindow, description: "Open qflist"}
  r {
    description: "+Run"
    bindings {
      r {actionId: Run, description: "Run current"}
      a {actionId: RunAnything, description: "Run anything"}
      f {actionId: ChooseRunConfiguration, description: "Find run target"}
      t {actionId: RerunFailedTests, description: "Re-run failed tests"}
      c {actionId: MakeModule, description: "Compile module"}
      s {actionId: Stop, description: "Stop"}
      m {actionId: Maven.ExecuteGoal, description: "Execute maven"}
      g {actionId: Gradle.ExecuteTask, description: "Execute gradle"}
    }
  }
  s {
    description: "+Symbols"
    bindings {
      s {actionId: FileStructurePopup, description: "Search document symbols"}
      S {actionId: GotoSymbol, description: "Search project symbols"}
      r {actionId: ShowUsages, description: "Find references"}
      R {actionId: FindUsages, description: "Put references in qflist"}
      i {actionId: GotoImplementation, description: "Go to subtype (in)"}
      o {actionId: GotoSuperMethod, description: "Go to supertype (out)"}
      h {actionId: HighlightUsagesInFile, description: "Highlight usages"}
    }
  }
  t {actionId: ActivateTerminalToolWindow, description: "Terminal"}
  T {actionId: ActivateTODOToolWindow, description: "Show todos"}
  w {actionId: HideAllWindows, description: "Toggle tool windows"}
  z {
    description: "+Zoom"
    bindings {
      "]" {actionId: EditorIncreaseFontSize, description: "Increase font"}
      "[" {actionId: EditorDecreaseFontSize, description: "Decrease font"}
      r {actionId: EditorResetFontSize, description: "Reset font"}
      p {actionId: TogglePresentationMode, description: "Presentation mode"}
      z {actionId: ToggleZenMode, description: "Zen mode"}
    }
  }
}

