# vim: ft=hocon

# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  " " {actionId: GotoAction, description: "command palette"}
  b {actionId: ShowBookmarks, description: "bookmark picker"}
  B {actionId: Bookmarks, description: "bookmark menu"}
  D {actionId: ActivateProblemsViewToolWindow, description: "diagnostics"}
  e {actionId: SelectInProjectView, description: "explore current directory"}
  E {actionId: ActivateProjectToolWindow, description: "toggle explorer"}
  i {actionId: copilot.chat.inline, description: "inline ai"}
  I {actionId: copilot.chat.show, description: "chat ai"}
  j {actionId: RecentLocations, description: "jumplist picker"}
  t {actionId: ActivateTerminalToolWindow, description: "terminal"}
  T {actionId: ActivateTODOToolWindow, description: "show todos"}
  w {actionId: HideAllWindows, description: "toggle tool windows"}
  a {
    description: "+code actions..."
    bindings {
      a {actionId: ShowIntentionActions, description: "code action"}
      r {actionId: RenameElement, description: "rename"}
      y {actionId: CopyReference, description: "yank reference"}
      m {actionId: RefactoringMenu, description: "menu"}
      g {actionId: Generate, description: "generate"}
      o {actionId: OptimizeImports, description: "optimize imports"}
      i {actionId: InspectCode, description: "inspect code"}
    }
  }
  d {
    description: "+debug..."
    bindings {
      l {actionId: ChooseDebugConfiguration, description: "launch debug target"}
      d {actionId: Debug, description: "launch current debug target"}
      b {actionId: ToggleLineBreakpoint, description: "toggle breakpoint"}
      B {actionId: ToggleBreakpointEnabled, description: "toggle breakpoint enabled"}
      F {actionId: ToggleFieldBreakpoint, description: "add field breakpoint"}
      M {actionId: ToggleMethodBreakpoint, description: "add method breakpoint"}
      C {actionId: AddConditionalBreakpoint, description: "toggle conditional breakpoint"}
      E {actionId: EditBreakpoint, description: "edit breakpoint"}
      c {actionId: Resume, description: "continue program execution"}
      p {actionId: Pause, description: "pause program execution"}
      i {actionId: StepInto, description: "step in"}
      o {actionId: StepOut, description: "step out"}
      n {actionId: StepOver, description: "step to next"}
      C {actionId: RunToCursor, description: "run to cursor"}
      s {actionId: Stop, description: "stop debug session"}
      f {actionId: ViewBreakpoints, description: "find breakpoints"}
    }
  }
  f {
    description: "+file/buffer..."
    bindings {
      f {actionId: GotoFile, description: "find all"}
      g {actionId: FindInPath, description: "grep"}
      r {actionId: RecentChangedFiles, description: "open recent"}
      b {actionId: Switcher, description: "open buffer"}
      n {actionId: NewElement, description: "new"}
      y {actionId: CopyReferencePopup, description: "yank fname"}
      r {actionId: RenameFile, description: "rename"}
    }
  }
  g {
    description: "+git..."
    bindings {
      g {actionId: CheckinProject, description: "tool window"}
      G {actionId: Git.Menu, description: "actions menu"}
      r {actionId: Vcs.RollbackChangedLines, description: "reset hunk"}
      p {actionId: Vcs.UpdateProject, description: "pull"}
      P {actionId: Vcs.Push, description: "push"}
      c {actionId: Git.Branches, description: "checkout branches"}
      s {actionId: Vcs.Show.Shelf, description: "shelf"}
      l {actionId: Vcs.Show.Log, description: "log"}
      b {actionId: Annotate, description: "blame"}
    }
  }
  o {
    description: "+options..."
    bindings {
      r {actionId: ReloadAtamanConfigAction, description: "reload ~/.atamanrc.config"}
      p {actionId: WelcomeScreen.Plugins, description: "plugins tool"}
      R {actionId: RestartIde, description: "restart"}
      I {actionId: InvalidateCaches, description: "invalidate and restart"}
      Q {actionId: Exit, description: "quit"}
    }
  }
  p {
    description: "+project..."
    bindings {
      n {actionId: NewProject, description: "new tool window"}
      g {actionId: Git.Clone, description: "new from git"}
      f {actionId: WelcomeScreen.OpenProject, description: "new from fs"}
      i {actionId: ImportProject, description: "import existing from fs"}
      r {actionId: ManageRecentProjects, description: "recent project"}
      c {actionId: CloseProject, description: "close"}
    }
  }
  r {
    description: "+run..."
    bindings {
      r {actionId: Run, description: "run current"}
      a {actionId: RunAnything, description: "run anything"}
      f {actionId: ChooseRunConfiguration, description: "find run target"}
      t {actionId: RerunFailedTests, description: "re-run failed tests"}
      c {actionId: MakeModule, description: "compile module"}
      s {actionId: Stop, description: "stop"}
      m {actionId: Maven.ExecuteGoal, description: "execute maven"}
      g {actionId: Gradle.ExecuteTask, description: "execute gradle"}
    }
  }
  s {
    description: "+symbols..."
    bindings {
      c {actionId: GotoClass, description: "find classes"}
      s {actionId: GotoSymbol, description: "find workspace symbols"}
      d {actionId: FileStructurePopup, description: "find document symbols"}
      h {actionId: HierarchyGroup, description: "inspect code hierarchy"}
    }
  }
  z {
    description: "+zoom"
    bindings {
      "]" {actionId: EditorIncreaseFontSize, description: "increase font"}
      "[" {actionId: EditorDecreaseFontSize, description: "decrease font"}
      r {actionId: EditorResetFontSize, description: "reset font"}
      p {actionId: TogglePresentationMode, description: "presentation mode"}
      z {actionId: ToggleZenMode, description: "zen mode"}
    }
  }
}

