[submodule "secrets"]
	path = secrets
	url = git@github.com:pavlo-skobnikov/secrets.git
	branch = main
[submodule "scripts/private-scripts"]
	path = scripts/private-scripts
	url = git@github.com:pavlo-skobnikov/private-scripts.git
