""" Options 🛠️
" REFERENCE: https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
" A spacious leader indeed.
let mapleader = " "

" Show the current editing mode.
set showmode

" Never timeout when waiting for the next key of a keymap.
set notimeout

" Only j/k can move the cursor to the next/previous line.
set whichwrap=""

" Case-insensitive searching unless upper case letters are present in the search term.
set ignorecase
set smartcase

" Visual markers for column widths and current line.
set colorcolumn=80,100,120
set cursorline

" Enable relative line numbers.
set number
set relativenumber

" Don't soft-wrap lines.
set nowrap

" Minimum number of rows/columns to keep visible when scrolling.
set scrolloff=8
set sidescrolloff=3

" Use visual bell instead of beeping.
set visualbell

" Remember command-line history.
set history=1000

" Search as characters are entered.
set incsearch

" Highlight search results.
set hlsearch

" Wrap around the buffer when searching.
set wrapscan

" Indent soft wrapped lines to match the first line's indent
set breakindent

" Use the IntelliJ's `smart join` feature for `J` motion.
set ideajoin=true

" Keep the currently active mode when activating a refactor.
set idearefactormode=keep



""" Keymaps 🎹

"" Miscellaneous maps 🤷
" Launch ataman.
nmap <Leader> <Action>(LeaderAction)
xmap <Leader> <Action>(LeaderAction)

" Repeat last ataman actions.
nmap <C-.> <Action>(RepeatLatestAtamanCommandAction)
xmap <C-.> <Action>(RepeatLatestAtamanCommandAction)

" Switch to last accessed buffer.
nmap <Tab> <C-^>
xmap <Tab> <C-^>

" Replay @q.
nnoremap Q @q

" Yank 'till end of line.
nnoremap Y y$

" Go to definition.
nmap <C-]> <Action>(GotoDeclarationOnly)
xmap <C-]> <Action>(GotoDeclarationOnly)

" Half-page down and center.
nmap <C-d> <C-d>zz
xmap <C-d> <C-d>zz

" Half-page up and center.
nmap <C-u> <C-u>zz
xmap <C-u> <C-u>zz

" Half-screen right.
nmap <C-f> zL
xmap <C-f> zL

" Half-screen left.
nmap <C-b> zH
xmap <C-b> zH

" Clear highlights.
nnoremap <C-l> :nohlsearch<Cr>

"" Goto section 🚎
" Go to type definition.
nmap gy <Action>(GotoTypeDeclaration)
xmap gy <Action>(GotoTypeDeclaration)

" Execute ':normal ...'.
nnoremap gE :echo Select first!<Cr>
xnoremap gE :normal 
onoremap gE :normal 

" Replace w/ ':substitute/...'.
nnoremap gR :echo Select first!<Cr>'
xnoremap gR :substitute/
onoremap gR :substitute/

" Organize alphabetically.
nnoremap go :echo Select first!<Cr>'
xnoremap go :sort<Cr>
onoremap go :sort<Cr>

" Add/replace/delete surround characters.
nmap gsa <Plug>YSurround
nmap gss <Plug>Yssurround
nmap gsr <Plug>CSurround
nmap gsd <Plug>DSurround

xmap gsa <Plug>VSurround
omap gsa <Plug>VSurround

" Exchange text objects.
nmap gx <Plug>(Exchange)
xmap gx <Plug>(Exchange)

nmap gxc <Plug>(ExchangeClear)
nmap gxx <Plug>(ExchangeLine)

" Reset hunk.
nmap gH <Action>(Vcs.RollbackChangedLines)
xmap gH <Action>(Vcs.RollbackChangedLines)


"" Unimpaired maps section 🦅

" Previous/next diagnostic.
nmap [d <Action>(GotoPreviousError)
xmap [d <Action>(GotoPreviousError)

nmap ]d <Action>(GotoNextError)
xmap ]d <Action>(GotoNextError)

" Previous/next function.
nmap [f <Action>(MethodUp)
xmap [f <Action>(MethodUp)

nmap ]f <Action>(MethodDown)
xmap ]f <Action>(MethodDown)

" Previous/next change.
nmap [g <Action>(VcsShowPrevChangeMarker)
xmap [g <Action>(VcsShowPrevChangeMarker)

nmap ]g <Action>(VcsShowNextChangeMarker)
xmap ]g <Action>(VcsShowNextChangeMarker)

" Previous/next qf entry.
nmap [q <Action>(PreviousOccurence)
xmap [q <Action>(PreviousOccurence)

nmap ]q <Action>(NextOccurence)
xmap ]q <Action>(NextOccurence)

" Add line above/below.
nnoremap [<Space> mzO<esc>`z
vnoremap [<Space> <esc>O<esc>gv

nnoremap ]<Space> mzo<esc>`z
vnoremap ]<Space> <esc>O<esc>gv

" Increase/decrease selection.
nmap [v <Action>(EditorUnSelectWord)
xmap [v <Action>(EditorUnSelectWord)

nmap ]v <Action>(EditorSelectWord)
xmap ]v <Action>(EditorSelectWord)


"" Multicursor section 🎶
" Select next match.
nmap <Right> <Action>(SelectNextOccurrence)
xmap <Right> <Action>(SelectNextOccurrence)

" Skip a match.
nmap <C-Right> <Action>(FindNext)
xmap <C-Right> <Action>(FindNext)

" Select all matches.
nmap <S-Right> <Action>(SelectAllOccurrences)
xmap <S-Right> <Action>(SelectAllOccurrences)

" Add cursor below.
nmap <Down> <Action>(EditorCloneCaretBelow)
xmap <Down> <Action>(EditorCloneCaretBelow)

" Add cursor above.
nmap <Up> <Action>(EditorCloneCaretAbove)
xmap <Up> <Action>(EditorCloneCaretAbove)

" Remove cursor above.
nmap <C-Up> <Action>(UnselectPreviousOccurrence)
xmap <C-Up> <Action>(UnselectPreviousOccurrence)

" Split selection on newlines.
nmap <S-Left> <Action>(EditorAddCaretPerSelectedLine)
xmap <S-Left> <Action>(EditorAddCaretPerSelectedLine)


"" Insert mode maps section 🖋️
" Accept completion Vim-style.
imap <C-y> <Action>(EditorChooseLookupItem)
imap <C-S-y> <Action>(EditorChooseLookupItemReplace)

" Show parameter information.
imap <C-s> <Action>(ParameterInfo)

" Move around snippet jump places.
imap <C-h> <Action>(PreviousTemplateVariable)
imap <C-l> <Action>(NextTemplateVariable)

" Regular LSP completion.
imap <C-x> <Action>(CodeCompletion)

" Extra 'smart' completions.
imap <C-S-c> <Action>(ClassNameCompletion)
imap <C-S-t> <Action>(SmartTypeCompletion)
imap <C-S-s> <Action>(EditorCompleteStatement)

" Hippie completion.
imap <C-S-p> <Action>(HippieBackwardCompletion)
imap <C-S-n> <Action>(HippieCompletion)



""" Plugins 🔌
" REFERENCE: https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
" Plugin requirements:
"   - https://plugins.jetbrains.com/plugin/28333-vim-anyobject
" NOTE: Plugins are set after the mappings because some plugins will not set
" their default mappings if custom ones are set.

"" Let's see what we're actually doing 👀
let g:highlightedyank_highlight_duration = "250"
set highlightedyank

"" Text editing improvements 📒
set commentary

let g:surround_no_mappings = 1
set surround

set ReplaceWithRegister

set exchange

set matchit
set vim-paragraph-motion

" More text objects.
set mini-ai

set functiontextobj

let g:argtextobj_pairs = "(:),{:},[:],<:>"
set argtextobj

set textobj-indent
set textobj-entire

" Vim in the project drawer (w/ Oil-like keys).
let g:NERDTreeMapJumpRoot = 'H'
let g:NERDTreeMapJumpParent = 'h'
let g:NERDTreeMapActivateNode = 'l'

let g:NERDTreeMapJumpFirstChild = 'K'
let g:NERDTreeMapJumpLastChild = 'J'
let g:NERDTreeMapJumpNextSibling = '<C-j>'
let g:NERDTreeMapJumpPrevSibling = '<C-k>'

let g:NERDTreeMapPreview = '<C-p>'
let g:NERDTreeMapOpenSplit = '<C-s>'
let g:NERDTreeMapOpenVSplit = '<C-v>'

" [T]oggle.
let g:NERDTreeMapCloseDir = 't'
let g:NERDTreeMapCloseChildren = 'T'

let g:NERDTreeMapRefreshRoot = '<C-l>'

let g:NERDTreeMapNewDir = 'o'
let g:NERDTreeMapNewFile = 'O'
let g:NERDTreeMapDelete = 'd'

let g:NERDTreeMapMenu = 'm'
let g:NERDTreeMapQuit = 'q'

let g:NERDTreeMapToggleZoom = 'z'

set NERDTree
