# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  "." {actionId: RepeatLatestAtamanCommandAction, description: repeat last ataman action}
  "/" {actionId: FindInPath, description: global search in workspace folder}
  "?" {actionId: GotoAction, description: open command palette}
  D {actionId: ActivateProblemsViewToolWindow, description: open diagnostics tool window}
  E {actionId: ActivateProjectToolWindow, description: open project explorer}
  T {actionId: Terminal.OpenInTerminal, description: open terminal at current file directory}
  c {actionId: ActivateGitHubCopilotChatToolWindow, description: open/focus copilot chat}
  e {actionId: SelectInProjectView, description: select current file in project explorer}
  j {actionId: RecentLocations, description: open recent locations jumplist picker}
  m {actionId: ShowBookmarks, description: open bookmarks picker}
  t {actionId: ActivateTerminalToolWindow, description: open terminal}
  w {actionId: Switcher, description: open buffer and tool window picker}
  a {
    description: code actions...
    bindings {
      a {actionId: ShowIntentionActions, description: perform code action}
      g {actionId: Generate, description: generate}
      m {actionId: RefactoringMenu, description: open refactor menu}
      r {actionId: RenameElement, description: rename symbol}
      o {actionId: OptimizeImports, description: optimize imports}
      y {actionId: CopyReference, description: yank reference}
      k {actionId: QuickJavaDoc, description: show hover info}
      p {actionId: ParameterInfo, description: show parameter info}
      t {actionId: ExpressionTypeInfo, description: show expression type info}
      d {actionId: ShowErrorDescription, description: show diagnostic info}
      i {actionId: InspectCode, description: inspect code}
      c {actionId: HierarchyGroup, description: open code hierarchy}
      h {actionId: HighlightUsagesInFile, description: highlight symbol references}
    }
  }
  d {
    description: debug...
    bindings {
      l {actionId: ChooseDebugConfiguration, description: launch debug target}
      d {actionId: Debug, description: launch current debug target}
      b {actionId: ToggleLineBreakpoint, description: toggle breakpoint}
      b {actionId: ToggleBreakpointEnabled, description: toggle breakpoint enabled}
      F {actionId: ToggleFieldBreakpoint, description: add field breakpoint}
      M {actionId: ToggleMethodBreakpoint, description: add method breakpoint}
      C {actionId: AddConditionalBreakpoint, description: toggle conditional breakpoint}
      E {actionId: EditBreakpoint, description: edit breakpoint}
      c {actionId: Resume, description: continue program execution}
      h {actionId: Pause, description: pause program execution}
      i {actionId: StepInto, description: step in}
      o {actionId: StepOut, description: step out}
      n {actionId: StepOver, description: step to next}
      C {actionId: RunToCursor, description: run to cursor}
      s {actionId: Stop, description: end debug session}
      f {actionId: ViewBreakpoints, description: search breakpoints}
    }
  }
  f {
    description: files/buffers...
    bindings {
      f {actionId: GotoFile, description: open file picker}
      g {actionId: RecentChangedFiles, description: open recent changed files picker}
      n {actionId: NewElement, description: create new file}
      y {actionId: CopyReferencePopup, description: copy filename}
      r {actionId: RenameFile, description: rename file}
    }
  }
  g {
    description: git...
    bindings {
      a {actionId: Git.Menu, description: actions menu}
      g {actionId: CheckinProject, description: stage and commit}
      G {actionId: Github.Create.Pull.Request, description: create a pr on github}
      r {actionId: Vcs.RollbackChangedLines, description: reset hunk}
      p {actionId: Vcs.UpdateProject, description: pull}
      P {actionId: Vcs.Push, description: push}
      b {actionId: Git.Branches, description: checkout branches}
      s {actionId: Vcs.Show.Shelf, description: shelf}
      l {actionId: Vcs.Show.Log, description: log}
      o {actionId: Github.Open.In.Browser, description: open change on github}
      B {actionId: Annotate, description: blame}
    }
  }
  h {
    description: harpoon...
    bindings {
      a {actionId: HarpoonerAddFile, description: harpoon file}
      h {actionId: HarpoonerQuickMenu, description: open harpoon files}
      "1" {actionId: HarpoonerOpenFile0, description: go to harpoon mark 0}
      "2" {actionId: HarpoonerOpenFile1, description: go to harpoon mark 1}
      "3" {actionId: HarpoonerOpenFile2, description: go to harpoon mark 2}
      "4" {actionId: HarpoonerOpenFile3, description: go to harpoon mark 3}
      "5" {actionId: HarpoonerOpenFile4, description: go to harpoon mark 4}
      "6" {actionId: HarpoonerOpenFile5, description: go to harpoon mark 5}
      "7" {actionId: HarpoonerOpenFile6, description: go to harpoon mark 6}
      "8" {actionId: HarpoonerOpenFile7, description: go to harpoon mark 7}
      "9" {actionId: HarpoonerOpenFile8, description: go to harpoon mark 8}
      "0" {actionId: HarpoonerOpenFile9, description: go to harpoon mark 9}
    }
  }
  i {
    description: ide...
    bindings {
      a {actionId: ReloadAtamanConfigAction, description: reload from ~/.atamanrc.config}
      p {actionId: WelcomeScreen.Plugins, description: plugins}
      r {actionId: RestartIde, description: restart}
      R {actionId: InvalidateCaches, description: invalidate caches and restart}
      Q {actionId: Exit, description: exit}
    }
  }
  p {
    description: project...
    bindings {
      o {actionId: WelcomeScreen.OpenProject, description: open project}
      r {actionId: ManageRecentProjects, description: switch to a recent project}
      c {actionId: CloseProject, description: close project}
      i {actionId: ImportProject, description: import project}
      n {actionId: NewProject, description: new project}
      t {actionId: ActivateTODOToolWindow, description: show project todos}
    }
  }
  r {
    description: run...
    bindings {
      r {actionId: Run, description: launch current run target}
      l {actionId: RunAnything, description: launch run target}
      f {actionId: ChooseRunConfiguration, description: open run target picker}
      t {actionId: RerunTests, description: launch test run target}
      T {actionId: RerunFailedTests, description: launch failed tests run target}
      c {actionId: MakeModule, description: compile current module}
      s {actionId: Stop, description: stop run session}
      m {actionId: Maven.ExecuteGoal, description: execute maven goal}
      M {actionId: ActivateMavenToolWindow, description: open maven tool window}
      g {actionId: Gradle.ExecuteTask, description: execute gradle task}
      G {actionId: ActivateGradleToolWindow, description: open gradle tool window}
    }
  }
  s {
    description: symbols...
    bindings {
      d {actionId: GotoDeclarationOnly, description: goto definition}
      s {actionId: FileStructurePopup, description: goto document symbol}
      S {actionId: GotoSymbol, description: goto workspace symbol}
      c {actionId: GotoClass, description: goto workspace class symbol}
      t {actionId: GotoTypeDeclaration, description: goto type declaration}
      r {actionId: ShowUsages, description: goto references}
      R {actionId: FindUsages, description: send references to qflist}
      i {actionId: GotoImplementation, description: goto implementation}
      I {actionId: GotoSuperMethod, description: goto super}
      T {actionId: GotoTest, description: test suite/implementation}
    }
  }
  z {
    description: zoom...
    bindings {
      i {actionId: EditorIncreaseFontSize, description: increase font size}
      d {actionId: EditorDecreaseFontSize, description: decrease font size}
      r {actionId: EditorResetFontSize, description: reset font size}
    }
  }
}

