# https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
  " " {actionId: GotoAction, description: "Search actions"}
  "/" {actionId: FindInPath, description: "Grep files"}
  "." {actionId: GotoFile, description: "Find project files"}
  "," {actionId: RecentChangedFiles, description: "Open recent files picker"}
  b {actionId: Switcher, description: "Open [b]uffer and tool picker"}
  c {actionId: copilot.chat.inline, description: "Open inline [C]opilot prompt"}
  C {actionId: ActivateGitHubCopilotChatToolWindow, description: "Focus Copilot [c]hat"}
  e {actionId: ActivateProblemsViewToolWindow, description: "Open [e]rror tool window"}
  j {actionId: RecentLocations, description: "Serch recent locations [j]umplist"}
  m {actionId: ShowBookmarks, description: "Search book[m]arks"}
  M {actionId: Bookmarks, description: "Open bookmarks [m]enu"}
  w {actionId: CloseContent, description: "Close current [w]indow"}
  W {actionId: HideAllWindows, description: "Toggle all tool [w]indows"}
  t {actionId: ActivateTerminalToolWindow, description: "Open [t]erminal tool window"}
  a {
    description: "+code [a]ctions"
    bindings {
      a {actionId: ShowIntentionActions, description: "Perform contextual [a]ction"}
      g {actionId: Generate, description: "[G]enerate code"}
      m {actionId: RefactoringMenu, description: "Open refactoring [m]enu"}
      r {actionId: RenameElement, description: "[R]ename symbol"}
      o {actionId: OptimizeImports, description: "[O]ptimize imports"}
      i {actionId: InspectCode, description: "[I]nspect code"}
      h {actionId: HierarchyGroup, description: "Open code [h]ierarchy"}
    }
  }
  d {
    description: "+[d]ebug"
    bindings {
      l {actionId: ChooseDebugConfiguration, description: "[L]aunch debug target"}
      d {actionId: Debug, description: "Launch current [d]ebug target"}
      b {actionId: ToggleLineBreakpoint, description: "Toggle [b]reakpoint"}
      B {actionId: ToggleBreakpointEnabled, description: "Toggle [b]reakpoint enabled"}
      F {actionId: ToggleFieldBreakpoint, description: "Add [f]ield breakpoint"}
      M {actionId: ToggleMethodBreakpoint, description: "Add [m]ethod breakpoint"}
      C {actionId: AddConditionalBreakpoint, description: "Toggle [c]onditional breakpoint"}
      E {actionId: EditBreakpoint, description: "[E]dit breakpoint"}
      c {actionId: Resume, description: "[C]ontinue program execution"}
      p {actionId: Pause, description: "[P]ause program execution"}
      i {actionId: StepInto, description: "Step [i]n"}
      o {actionId: StepOut, description: "Step [o]ut"}
      n {actionId: StepOver, description: "Step to [n]ext"}
      C {actionId: RunToCursor, description: "Run to [c]ursor"}
      s {actionId: Stop, description: "[S]top debug session"}
      f {actionId: ViewBreakpoints, description: "[F]ind breakpoints"}
    }
  }
  f {
    description: "+[f]iles"
    bindings {
      n {actionId: NewElement, description: "Create [n]ew file"}
      y {actionId: CopyReferencePopup, description: "[Y]ank filename"}
      r {actionId: RenameFile, description: "[R]ename file"}
    }
  }
  g {
    description: "+[g]it"
    bindings {
      a {actionId: Git.Menu, description: "[A]ctions menu"}
      g {actionId: CheckinProject, description: "[G]it status"}
      r {actionId: Vcs.RollbackChangedLines, description: "[R]eset hunk"}
      p {actionId: Vcs.UpdateProject, description: "[P]ull"}
      P {actionId: Vcs.Push, description: "[P]ush"}
      c {actionId: Git.Branches, description: "[C]heckout branches"}
      s {actionId: Vcs.Show.Shelf, description: "[S]helf"}
      l {actionId: Vcs.Show.Log, description: "[L]og"}
      b {actionId: Annotate, description: "[B]lame"}
    }
  }
  h {
    description: "+[h]arpoon"
    bindings {
      a {actionId: HarpoonerAddFile, description: "[A]dd file to Harpoon"}
      h {actionId: HarpoonerQuickMenu, description: "Open [H]arpoon files list"}
      "1" {actionId: HarpoonerOpenFile0, description: "Go to harpoon mark [0]"}
      "2" {actionId: HarpoonerOpenFile1, description: "Go to harpoon mark [1]"}
      "3" {actionId: HarpoonerOpenFile2, description: "Go to harpoon mark [2]"}
      "4" {actionId: HarpoonerOpenFile3, description: "Go to harpoon mark [3]"}
      "5" {actionId: HarpoonerOpenFile4, description: "Go to harpoon mark [4]"}
      "6" {actionId: HarpoonerOpenFile5, description: "Go to harpoon mark [5]"}
      "7" {actionId: HarpoonerOpenFile6, description: "Go to harpoon mark [6]"}
      "8" {actionId: HarpoonerOpenFile7, description: "Go to harpoon mark [7]"}
      "9" {actionId: HarpoonerOpenFile8, description: "Go to harpoon mark [8]"}
      "0" {actionId: HarpoonerOpenFile9, description: "Go to harpoon mark [9]"}
    }
  }
  i {
    description: "+[i]de"
    bindings {
      r {actionId: ReloadAtamanConfigAction, description: "[R]eload Ataman configuration"}
      p {actionId: WelcomeScreen.Plugins, description: "Open [p]lugin tool window"}
      R {actionId: RestartIde, description: "[R]estart IntelliJ"}
      I {actionId: InvalidateCaches, description: "[I]nvalidate caches and restart"}
      Q {actionId: Exit, description: "[Q]uit IntelliJ"}
    }
  }
  p {
    description: "+[p]roject"
    bindings {
      n {actionId: NewProject, description: "Open [n]ew project tool window"}
      g {actionId: Git.Clone, description: "[G]it clone a new project"}
      o {actionId: WelcomeScreen.OpenProject, description: "[O]pen new from the filesystem"}
      i {actionId: ImportProject, description: "[I]mport existing from the filesystem"}
      r {actionId: ManageRecentProjects, description: "Switch to [r]ecent"}
      c {actionId: CloseProject, description: "[C]lose current project"}
      t {actionId: ActivateTODOToolWindow, description: "Show project [T]ODOs"}
    }
  }
  r {
    description: "+[r]un"
    bindings {
      r {actionId: Run, description: "[R]un current target"}
      l {actionId: RunAnything, description: "Open run targets [l]ist"}
      f {actionId: ChooseRunConfiguration, description: "[F]ind run target"}
      t {actionId: RerunTests, description: "Re-run [t]ests again"}
      T {actionId: RerunFailedTests, description: "Re-run failed [t]ests"}
      c {actionId: MakeModule, description: "[C]ompile module"}
      s {actionId: Stop, description: "[S]top"}
      m {actionId: Maven.ExecuteGoal, description: "[M]aven goal"}
      g {actionId: Gradle.ExecuteTask, description: "[G]radle task"}
    }
  }
  s {
    description: "+[s]ymbols"
    bindings {
      r {actionId: ShowUsages, description: "Find [r]eferences"}
      q {actionId: FindUsages, description: "Send references to [q]flist"}
      d {actionId: FileStructurePopup, description: "Search [d]ocument symbols"}
      s {actionId: GotoSymbol, description: "Search project [s]ymbols"}
      c {actionId: GotoClass, description: "Search [c]lasses"}
      t {actionId: GotoTest, description: "Goto [t]est/production code"}
      i {actionId: GotoImplementation, description: "Goto [i]mplementation"}
      p {actionId: GotoSuperMethod, description: "Goto [p]arent"}
      h {actionId: HighlightUsagesInFile, description: "[H]ighlight symbol usages"}
      y {actionId: CopyReference, description: "[Y]ank symbol reference"}
    }
  }
  z {
    description: "+[z]oom"
    bindings {
      "]" {actionId: EditorDecreaseFontSize, description: "Decrease font size"}
      "[" {actionId: EditorIncreaseFontSize, description: "Increase font size"}
      r {actionId: EditorResetFontSize, description: "[R]eset font size"}
      p {actionId: TogglePresentationMode, description: "Toggle [p]resentation mode"}
      z {actionId: ToggleZenMode, description: "Toggle [z]en mode"}
    }
  }
}

