"" Source common configurations for Vim and IdeaVim. 
source ~/.vimrc


""" Options section.
" REFERENCE: https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Use the IntelliJ's `smart join` feature for `J` motion.
set ideajoin=true

" Keep the currently active mode when activating a refactor.
set idearefactormode=keep


""" Plugins section.
" REFERENCE: https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins

" Quick and dot-repeatable text operations.
set surround
set commentary
set ReplaceWithRegister
set exchange

" More text objects.
set textobj-entire
set textobj-indent
set mini-ai
set functiontextobj
set argtextobj
let g:argtextobj_pairs = "(:),{:},[:],<:>"

" Better visibility for verb-object actions.
set highlightedyank
let g:highlightedyank_highlight_duration = "250"

" Improved navigation.
set vim-paragraph-motion
set matchit

" Switch over common patterns.
set switch
let g:switch_definitions = "group:basic,group:java,group:javascript,group:markdown"

" Multicursors, duh!
set multicursor

" Better maps for the project explorer.
set NERDTree

let g:NERDTreeMapJumpParent = 'h'
let g:NERDTreeMapJumpRoot = 'H'

let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapOpenRecursively = 'L'
let g:NERDTreeMapPreview = 'gl'

let g:NERDTreeMapOpenSplit = 's'
let g:NERDTreeMapPreviewSplit = 'gs'
let g:NERDTreeMapOpenVSplit = 'v'
let g:NERDTreeMapPreviewVSplit = 'gv'


""" Maps section.


"" Folds.
" Toggle fold
map za <Action>(ExpandCollapseToggleAction)


"" Extra window actions.
" Toggle tool windows
map <C-w>t <Action>(HideAllWindows)
" Transpose splits
map <C-w>T <Action>(ChangeSplitOrientation)


"" Completions.
" Invoke Intellij built-in completions.
imap <C-x> <Action>(CodeCompletion)
imap <C-t> <Action>(SmartTypeCompletion)
imap <C-f> <Action>(EditorCompleteStatement)
imap <C-h> <Action>(HippieCompletion)

" Invoke Github Copilot completions.
imap <C-l> <Action>(copilot.requestCompletions)
imap <C-k> <Action>(copilot.cyclePrevInlays)
imap <C-j> <Action>(copilot.cycleNextInlays)


"" Previous/next.
" Previous/next diagnostic.
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" Previous/next function.
map [f <Action>(MethodUp)
map ]f <Action>(MethodDown)

" Previous/next change.
map [c <Action>(VcsShowPrevChangeMarker)
map ]c <Action>(VcsShowNextChangeMarker)

" Previous/next qflist item.
map [q <Action>(PreviousOccurence)
map ]q <Action>(NextOccurence)

" Shrink/expand selection.
map [v <Action>(EditorUnSelectWord)
map ]v <Action>(EditorSelectWord)


"" Switcher.
nnoremap - :Switch<CR>
nnoremap + :SwitchReverse<CR>


"" Intellij-native mutlicursors.
" Add cursor for next match
map mm <Action>(SelectNextOccurrence)

" Add cursors for all matches
map mA <Action>(SelectAllOccurrences)

" Add cursor above
map ma <Action>(EditorCloneCaretAbove)

" Add cursor below
map mb <Action>(EditorCloneCaretBelow)

" Split selection on line ends
map me <Action>(EditorAddCaretPerSelectedLine)

" Skip occurence
map mn <Action>(FindNext)

" Undo last cursor
map mu <Action>(UnselectPreviousOccurrence)

" Align selections by the rightmost cursor
map ml <Action>(VerticalAlign.VerticalAlignAction)


"" Ataman.
" Launch Ataman.
map <Leader> <Action>(LeaderAction)

" Repeat last Ataman action.
map <C-.> <Action>(RepeatLatestAtamanCommandAction)

