"" Source common configurations for Vim and IdeaVim. 
source ~/.vimrc


""" Options section.
" REFERENCE: https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md

" Use the IntelliJ's `smart join` feature for `J` motion.
set ideajoin=true

" Keep the currently active mode when activating a refactor.
set idearefactormode=keep


""" Plugins section.
" REFERENCE: https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins

" Quick and dot-repeatable text operations.
set surround
set commentary
set ReplaceWithRegister
set exchange

" More text objects.
set textobj-entire
set textobj-indent
set functiontextobj
set argtextobj
let g:argtextobj_pairs = "(:),{:},[:],<:>"

" Better visibility for verb-object actions.
set highlightedyank
let g:highlightedyank_highlight_duration = "250"

" Improved navigation.
set vim-paragraph-motion
set matchit

" Better maps for the project explorer.
set NERDTree


""" Maps section.


"" Folds.
" Toggle fold
map za <Action>(ExpandCollapseToggleAction)


"" Windows.
" Transpose splits.
map <C-w>t <Action>(ChangeSplitOrientation)


"" Gotos.
" Goto definition.
map gd <Action>(GotoDeclarationOnly)

" Goto type declaration.
map gD <Action>(GotoTypeDeclaration)

" Goto references.
map gR <Action>(ShowUsages)

" Goto implementation.
map gI <Action>(GotoImplementation)

" Goto super.
map gS <Action>(GotoSuperMethod)


"" Previous/next.
" Previous/next diagnostic.
map [d <Action>(GotoPreviousError)
map ]d <Action>(GotoNextError)

" Previous/next function.
map [f <Action>(MethodUp)
map ]f <Action>(MethodDown)

" Previous/next change.
map [c <Action>(VcsShowPrevChangeMarker)
map ]c <Action>(VcsShowNextChangeMarker)

" Previous/next qflist item.
map [q <Action>(PreviousOccurence)
map ]q <Action>(NextOccurence)


"" Switcher.
nnoremap - :Switch<CR>
nnoremap + :SwitchReverse<CR>


"" Ataman.
" Launch Ataman.
map <Leader> <Action>(LeaderAction)
imap <C-g> <Action>(LeaderAction)

" Repeat last Ataman action.
map <C-.> <Action>(RepeatLatestAtamanCommandAction)

