;; This file is a configuration file for goku to generate my personal 
;; configuration for Karabiner-Elements.
;;
;; With my configuration, I'm trying to keep it as simple as possible and
;; achieve the following two things:
;;   - Simplify and make more ergonomic triggering complex key combinations.
;;   - Promote "correct" hand usage (i.e. use opposing hands for keys and 
;;     modifiers, etc.)
;;
;; Useful references:
;;  - [Goku tutorial](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md)
;;  - [Goku key definitions](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj)

{:global {:show-in-menu-bar false}
 :main [{:des "Caps Lock/Quote (') -> Left/Right Control when Together w/ Other Keys & Caps Lock -> Escape when Alone"
         :rules [[:##caps_lock :##left_control nil {:alone :escape}]
                 [:##quote :right_control nil {:alone :quote}]]}

         {:des "Left Control + Space -> Caps Lock"
          :rules [[:!T#Pspacebar :caps_lock]]}

        {:des "Right Command + h/j/k/l -> Vim-like arrow keys"
         :rules [[:!Q##h :left_arrow]
                 [:!Q##j :down_arrow]
                 [:!Q##k :up_arrow]
                 [:!Q##l :right_arrow]]}

        {:des "Left/Right Command + 1 'till = -> F1 'till F12"
         :rules [[:!C##1 :f1]
                 [:!C##2 :f2]
                 [:!C##3 :f3]
                 [:!C##4 :f4]
                 [:!C##5 :f5]
                 [:!Q##6 :f6]
                 [:!Q##7 :f7]
                 [:!Q##8 :f8]
                 [:!Q##9 :f9]
                 [:!Q##0 :f10]
                 [:!Q##hyphen :f11]
                 [:!Q##equal_sign :f12]]}

         {:des "Simultaneous Left Command + Right Command -> Hyper + F20"
          :rules [[[:left_command :right_command] :!!f20]]}

        {:des "Proper Modifiers Mode"
         ; Don't allow Left/Right Command/Option + left/right-hand side key
         ; combinations respectively.
         ; NOTE: An exception is made for Right Command + h/j/k/l.
         :rules [[:!Cq :vk_none]
                 [:!Cw :vk_none]
                 [:!Ce :vk_none]
                 [:!Cr :vk_none]
                 [:!Ct :vk_none]
                 [:!Ca :vk_none]
                 [:!Cs :vk_none]
                 [:!Cd :vk_none]
                 [:!Cf :vk_none]
                 [:!Cg :vk_none]
                 [:!Cz :vk_none]
                 [:!Cx :vk_none]
                 [:!Cc :vk_none]
                 [:!Cv :vk_none]
                 [:!Cb :vk_none]
                 [:!Qy :vk_none]
                 [:!Qu :vk_none]
                 [:!Qi :vk_none]
                 [:!Qo :vk_none]
                 [:!Qp :vk_none]
                 [:!Qn :vk_none]
                 [:!Qm :vk_none]
                 [:!Oq :vk_none]
                 [:!Ow :vk_none]
                 [:!Oe :vk_none]
                 [:!Or :vk_none]
                 [:!Ot :vk_none]
                 [:!Oa :vk_none]
                 [:!Os :vk_none]
                 [:!Od :vk_none]
                 [:!Of :vk_none]
                 [:!Og :vk_none]
                 [:!Oz :vk_none]
                 [:!Ox :vk_none]
                 [:!Oc :vk_none]
                 [:!Ov :vk_none]
                 [:!Ob :vk_none]
                 [:!Ey :vk_none]
                 [:!Eu :vk_none]
                 [:!Ei :vk_none]
                 [:!Eo :vk_none]
                 [:!Ep :vk_none]
                 [:!Eh :vk_none]
                 [:!Ej :vk_none]
                 [:!Ek :vk_none]
                 [:!El :vk_none]
                 [:!En :vk_none]
                 [:!Em :vk_none]]}]}

