;; This file is a configuration file for goku to generate my personal 
;; configuration for Karabiner-Elements.
;;
;; With my configuration, I'm trying to keep it as simple as possible and
;; achieve the following two things:
;;   - Simplify and make more ergonomic triggering complex key combinations.
;;   - Promote "correct" hand usage (i.e. use opposing hands for keys and 
;;     modifiers, etc.)
;;
;; Useful references:
;;  - [Goku tutorial](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md)
;;  - [Goku key definitions](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj)

{:global {:show-in-menu-bar false}
 :main [{:des "Caps Lock/Quote (') -> Left/Right Control when Together w/ Other Keys & Caps Lock -> Escape when Alone"
         :rules [[:##caps_lock :##left_control nil {:alone :escape}]
                 [:##quote :right_control nil {:alone :quote}]]}

         {:des "Left Control + Space -> Caps Lock"
          :rules [[:!T#Pspacebar :caps_lock]]}

         {:des "Forward Delete"
          ; Left Shift + Delete -> Delete forward a character
          ; Left Shift + Left Option + Delete -> Delete forward a word
          ; Left Shift + Left Command + Delete -> Delete forward a line
          :rules [[:!Sdelete_or_backspace :delete_forward]
                  [:!OSdelete_or_backspace :!Odelete_forward]
                  [:!CSdelete_or_backspace :!Tk]]}

         {:des "Disable Native Command + Tab"
          ; "Swallow" the MacOS' default Command + Tab behavior to replace it
          ; with Left Command + Left Option + Tab, which unlike the default,
          ; can be mapped to a custom action.
          :rules [[:!Ctab :!COtab]]}

        {:des "Function Keys on Number Key Row"
         ; Left Command + left-hand side number keys -> F1 - F5
         ; Right Command + right-hand side number (+ symbol) keys -> F6 - F12
         :rules [[:!C##1 :f1]
                 [:!C##2 :f2]
                 [:!C##3 :f3]
                 [:!C##4 :f4]
                 [:!C##5 :f5]
                 [:!Q##6 :f6]
                 [:!Q##7 :f7]
                 [:!Q##8 :f8]
                 [:!Q##9 :f9]
                 [:!Q##0 :f10]
                 [:!Q##hyphen :f11]
                 [:!Q##equal_sign :f12]]}

        {:des "Vim Arrow Keys Mode"
         ; Right Command + h/j/k/l -> Left/Down/Up/Right arrow keys
         :rules [[:!Q##h :left_arrow]
                 [:!Q##j :down_arrow]
                 [:!Q##k :up_arrow]
                 [:!Q##l :right_arrow]]}

        {:des "Hyper Keys Layer"
         ; Left Command + left-hand side letter keys -> Hyper + [PRESSED_KEY]
         ; Right Command + right-hand side letter keys -> Hyper + [PRESSED_KEY]
         ; NOTE: Except for h/j/k/l keys, which are used for Vim arrow keys mode.
         :rules [[:!Cq :!CTOSq]
                 [:!Cw :!CTOSw]
                 [:!Ce :!CTOSe]
                 [:!Cr :!CTOSr]
                 [:!Ct :!CTOSt]
                 [:!Ca :!CTOSa]
                 [:!Cs :!CTOSs]
                 [:!Cd :!CTOSd]
                 [:!Cf :!CTOSf]
                 [:!Cg :!CTOSg]
                 [:!Cz :!CTOSz]
                 [:!Cx :!CTOSx]
                 [:!Cc :!CTOSc]
                 [:!Cv :!CTOSv]
                 [:!Cb :!CTOSb]
                 [:!Qy :!QWERy]
                 [:!Qu :!QWERu]
                 [:!Qi :!QWERi]
                 [:!Qo :!QWERo]
                 [:!Qp :!QWERp]
                 [:!Qn :!QWERn]
                 [:!Qm :!QWERm]]}

        {:des "No Option + Same Hand Keys Combinations"
         ; This rule is to prevent accidental pressing of Option modifier +
         ; key combinations. I only want to allow myself to use same hand
         ; modifier + key combination for Command modifiers for the Hyper layer.
         :rules [[:!Oq :vk_none]
                 [:!Ow :vk_none]
                 [:!Oe :vk_none]
                 [:!Or :vk_none]
                 [:!Ot :vk_none]
                 [:!Oa :vk_none]
                 [:!Os :vk_none]
                 [:!Od :vk_none]
                 [:!Of :vk_none]
                 [:!Og :vk_none]
                 [:!Oz :vk_none]
                 [:!Ox :vk_none]
                 [:!Oc :vk_none]
                 [:!Ov :vk_none]
                 [:!Ob :vk_none]
                 [:!Ey :vk_none]
                 [:!Eu :vk_none]
                 [:!Ei :vk_none]
                 [:!Eo :vk_none]
                 [:!Ep :vk_none]
                 [:!Eh :vk_none]
                 [:!Ej :vk_none]
                 [:!Ek :vk_none]
                 [:!El :vk_none]
                 [:!En :vk_none]
                 [:!Em :vk_none]]}]}

