;; This file is a configuration file for goku to generate my personal 
;; configuration for Karabiner-Elements.
;;
;; I'm trying to keep my configuration as simple as possible and achieve the
;; following two things with it:
;;   - Simplify and make the triggering complex key combinations more ergonomic.
;;   - Promote "correct" hand usage (i.e. use opposing hands for keys and 
;;     modifiers respectively)
;;
;; Useful references:
;;  - [Goku tutorial](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md)
;;  - [Goku key definitions](https://github.com/yqrashawn/GokuRakuJoudo/blob/master/src/karabiner_configurator/keys_info.clj)

{:global {:show-in-menu-bar false}
 :main [{:des "Caps Lock/Quote (') -> Left/Right Control when Together w/ Other Keys & Caps Lock -> Escape when Alone"
         :rules [[:##caps_lock :##left_control nil {:alone :escape}]
                 [:##quote :right_control nil {:alone :quote}]]}

         {:des "Left Control + Space -> Caps Lock"
          :rules [[:!T#Pspacebar :caps_lock]]}

         {:des "Forward Delete"
          ; Left Shift + Delete -> Delete forward a character
          ; Left Shift + Left Option + Delete -> Delete forward a word
          ; Left Shift + Left Command + Delete -> Delete forward a line
          :rules [[:!Sdelete_or_backspace :delete_forward]
                  [:!OSdelete_or_backspace :!Odelete_forward]
                  [:!CSdelete_or_backspace :!Tk]]}

        {:des "Function Keys on Number Key Row"
         ; Left Command + left-hand side number keys -> F1 - F5
         ; Right Command + right-hand side number (+ symbol) keys -> F6 - F12
         :rules [[:!C##1 :f1]
                 [:!C##2 :f2]
                 [:!C##3 :f3]
                 [:!C##4 :f4]
                 [:!C##5 :f5]
                 [:!Q##6 :f6]
                 [:!Q##7 :f7]
                 [:!Q##8 :f8]
                 [:!Q##9 :f9]
                 [:!Q##0 :f10]
                 [:!Q##hyphen :f11]
                 [:!Q##equal_sign :f12]]}

        {:des "Vim Arrow Keys Mode"
         ; Right Command + h/j/k/l -> Left/Down/Up/Right arrow keys
         :rules [[:!Q##h :left_arrow]
                 [:!Q##j :down_arrow]
                 [:!Q##k :up_arrow]
                 [:!Q##l :right_arrow]]}

        {:des "Hyper Keys Layer"
         ; Left Command + left-hand side letter keys -> Hyper + [PRESSED_KEY]
         ; Right Command + right-hand side letter keys -> Hyper + [PRESSED_KEY]
         ; NOTE: Except for h/j/k/l keys, which are used for Vim arrow keys mode.
         :rules [[:!Cq :!CTOSq]
                 [:!Cw :!CTOSw]
                 [:!Ce :!CTOSe]
                 [:!Cr :!CTOSr]
                 [:!Ct :!CTOSt]
                 [:!Ca :!CTOSa]
                 [:!Cs :!CTOSs]
                 [:!Cd :!CTOSd]
                 [:!Cf :!CTOSf]
                 [:!Cg :!CTOSg]
                 [:!Cz :!CTOSz]
                 [:!Cx :!CTOSx]
                 [:!Cc :!CTOSc]
                 [:!Cv :!CTOSv]
                 [:!Cb :!CTOSb]
                 [:!Qy :!QWERy]
                 [:!Qu :!QWERu]
                 [:!Qi :!QWERi]
                 [:!Qo :!QWERo]
                 [:!Qp :!QWERp]
                 [:!Qn :!QWERn]
                 [:!Qm :!QWERm]]}

        {:des "Super keys"
         ; Left Option + left-hand side letter keys -> Super + [PRESSED_KEY]
         ; Right Option + right-hand side letter keys -> Super + [PRESSED_KEY]
         ; NOTE: Super == Command + Control + Option modifiers.
         :rules [[:!Oq :!CTOq]
                 [:!Ow :!CTOw]
                 [:!Oe :!CTOe]
                 [:!Or :!CTOr]
                 [:!Ot :!CTOt]
                 [:!Oa :!CTOa]
                 [:!Os :!CTOs]
                 [:!Od :!CTOd]
                 [:!Of :!CTOf]
                 [:!Og :!CTOg]
                 [:!Oz :!CTOz]
                 [:!Ox :!CTOx]
                 [:!Oc :!CTOc]
                 [:!Ov :!CTOv]
                 [:!Ob :!CTOb]
                 [:!Ey :!QWEy]
                 [:!Eu :!QWEu]
                 [:!Ei :!QWEi]
                 [:!Eo :!QWEo]
                 [:!Ep :!QWEp]
                 [:!Eh :!QWEh]
                 [:!Ej :!QWEj]
                 [:!Ek :!QWEk]
                 [:!El :!QWEl]
                 [:!En :!QWEn]
                 [:!Em :!QWEm]]}]}

